* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 20px 0px;
}
body {
  overflow: hidden;
}
